/***********************************************************************
 * Flash
 **********************************************************************/
body {
    background-image: none;
    padding-top: 50px;
    text-align: center;
}