/* Main design */

#header
{
}
    #header #logo
    {
        background: url('../img/logo.png');
        text-indent: -9999;
    }
    #header #menu
    {
        text-align: right;
    }
        #header #menu li
        {
            display: inline;
        }

#nav
{
    float: left;
    width: 15%;
}
    #nav li
    {
    }

#content
{
    float: right;
    width: 84%;
}

#footer
{
    clear: both;
}